    <footer class="row-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 leftText">
                  <ul style="list-style-type:none"><h5>Links:
                    <li><a ui-sref="app"> Home</a></li>
                    <li><a ui-sref="app.menu"> Spaces</a></li>
                    <li><a ui-sref="app.favorites"> Favorites</a></li>
                    <li><a ui-sref="app.aboutus"> About</a></li>
                    <li><a ui-sref="app.contactus"> Contact</a></li>
                  </h5></ul>
                </div>
                <div class="col-xs-3 leftText">
                  <ul style="list-style-type:none"><h5>Social Media:</h5>
                    <h2>
                      <li><a href="http://www.facebook.com" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a>
                          <a href="http://youtube.com" class="icoYouTube" title="Youtube"><i class="fa fa-youtube"></i></a>
                          <a href="https://plus.google.com" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                      <li><a href="https://www.instagram.com" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a>
                          <a href="http://twitter.com" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a>
                          <a href="https://www.pinterest.com" class="icoPinterest" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                    </h2>
                  </ul>
                </div>
                <div class="col-xs-3 leftText">
                  <h6> © 2017 Nomad Office
                    <a href="mailto:support@nomadoffice.com">
                       support@nomadoffice.com
                    </a>
                  </h6>
                </div>
                <div class="col-xs-3 rightText">
                  <h6>Coded with <span class="glyphicon glyphicon-heart"></span>
                    by <a href="https://es.linkedin.com/in/salvalatorre" target="_blank">
                    Salvador Latorre</a></h6>
                </div>
            </div>
        </div>
    </footer>
