  <div id="jumbotronBackground" class="jumbotron">
    <div class="container">
      <h1>Nomad Office</h1>
      <p>The best coworking spaces from around the world.</p>
      <p>Where do you want to work?</p>
      <p><a href="#menu"class="btn btn-primary btn-lg" role="button">Find an Office</a></p>
    </div>
  </div>

<!-- Top spaces -->
<div class="container-fluid">
  <h1 class="centerText">Top Spaces</h1>
  <div class="row row-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../images/madrid1.jpg" class="img-thubnail" alt="Space" style="width:200px">
            <div class="caption centerText">
              <h3>Madrid X Space</h3>
              <p><i class="fa fa-map-marker" aria-hidden="true"></i> Madrid, Spain</p>
              <p><a href="#menu/59a14723734d1d7ab9ea7c1b" class="btn btn-primary" role="button">Details</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../images/bcn1.jpg" class="img-thubnail" alt="Space" style="width:200px">
            <div class="caption centerText">
              <h3>Bcn Office</h3>
              <p><i class="fa fa-map-marker" aria-hidden="true"></i> Barcelona, Spain</p>
              <p><a href="#menu/59a14710734d1d7ab9ea7c19" class="btn btn-primary" role="button">Details</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../images/paris1.jpg" class="img-thubnail" alt="Space" style="width:200px">
            <div class="caption centerText">
              <h3>Nest Coworking</h3>
              <p><i class="fa fa-map-marker" aria-hidden="true"></i> Paris, France</p>
              <p><a href="#menu/59aace13734d1d25a0f5a332" class="btn btn-primary" role="button">Details</a></p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="../images/newyork1.jpg" class="img-thubnail" alt="Space" style="width:200px">
            <div class="caption centerText">
              <h3>Ventures Park</h3>
              <p><i class="fa fa-map-marker" aria-hidden="true"></i> New York, USA</p>
              <p><a href="#menu/59aacdcb734d1d25a0f5a329" class="btn btn-primary" role="button">Details</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Meet the team -->
<div class="container-fluid panel1">
  <h1 class="centerText">Meet the Team</h1>
  <div class="row row-content">

    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-md-3 centerText">
            <img src="../images/tyrion.jpg" class="img-team" alt="Photo" style="width:200px">
            <h3>Tyrion Lannister</h3>
            <ul class="social-network social-circle">CEO -
                <a href="https://twitter.com/GoT_Tyrion" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href="http://www.linkedin.com/in/" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="mailto:tyrion@nomadoffice.com" title="Mail"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </ul>
        </div>
        <div class="col-sm-4 col-md-3 centerText">
          <img src="../images/daenerys.jpg" class="img-team" alt="Photo" style="width:200px">
          <h3>Daenerys Targaryen</h3>
          <ul class="social-network social-circle">CFO -
                <a href="https://twitter.com/Daenerys" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href="http://www.linkedin.com/in/" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="mailto:daenerys@nomadoffice.com" title="Mail"><i class="fa fa-envelope" aria-hidden="true"></i></a>
          </ul>
        </div>
        <div class="col-sm-4 col-md-3 centerText">
            <img src="../images/jon.jpg" class="img-team" alt="Photo" style="width:200px">
            <h3>Jon Snow</h3>
            <ul class="social-network social-circle">Frontend Developer -
                <a href="https://twitter.com/LordSnow" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href="http://www.linkedin.com/in/" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="mailto:jon@nomadoffice.com" title="Mail"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </ul>
        </div>
        <div class="col-sm-4 col-md-3 centerText">
            <img src="../images/salva.jpg" class="img-team" alt="Photo" style="width:200px">
            <h3>Salva Latorre</h3>
            <ul class="social-network social-circle">Full stack Developer -
                <a href="https://twitter.com" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href="http://www.linkedin.com/in/salvalatorre" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="mailto:salva@nomadoffice.com" title="Mail"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </ul>
        </div>
        <div class="col-sm-4 col-md-3 centerText">
            <img src="../images/muppala.png" class="img-team" alt="Photo" style="width:200px">
            <h3>Jogesh K. Muppala</h3>
            <ul class="social-network social-circle">Full stack Expert -
                <a href="https://twitter.com" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href="http://www.linkedin.com/in/" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="mailto:muppala@nomadoffice.com" title="Mail"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </ul>
        </div>
        <div class="col-sm-4 col-md-3 centerText">
            <img src="../images/pepe.jpg" class="img-team" alt="Photo" style="width:200px">
            <h3>Pepe Viyuela</h3>
            <ul class="social-network social-circle">QA -
                <a href="https://twitter.com/PepeViyuelactor" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href="http://www.linkedin.com/in/" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="mailto:pepe@nomadoffice.com" title="Mail"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3 centerText">
            <img src="../images/paquirrin.jpg" class="img-team" alt="Photo" style="width:200px">
            <h3>Paquirrín</h3>
            <ul class="social-network social-circle">Social Media -
                <a href="https://twitter.com/riverakiko" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href="http://www.linkedin.com/in/" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="mailto:paquirrin@nomadoffice.com" title="Mail"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </ul>
        </div>
        <div class="col-sm-6 col-md-3 centerText">
            <img src="../images/king.jpg" class="img-team" alt="Photo" style="width:200px">
            <h3>Night King</h3>
            <ul class="social-network social-circle">Administrative Director -
                <a href="https://twitter.com/NightKingGOT" title="Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href="http://www.linkedin.com/in/" title="LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
                <a href="mailto:nightking@nomadoffice.com" title="Mail"><i class="fa fa-envelope" aria-hidden="true"></i></a>
            </ul>
        </div>
      </div>
    </div>

  </div>
</div>
